<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: arial, sans-serif;
        padding: 0.5rem;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
      }
      td,th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      .link {
        font-weight: 800;
      }

      /**tr:nth-child(even) {
        background-color: #dddddd;
      }*/
    </style>
  </head>
  <body>
    <h4>Hello {{name}},</h4>
    <br />
    {% comment %} <p>Kindly find <a class="link" href={{url}}>your schedule<a/> for the month <a class="link" href={{url}}>here<a/></p> {% endcomment %}
    {% comment %} <p>You have been assigned to a shift. Kindly find the details below</p> {% endcomment %}
    <p>Kindly find your weekly report below</p>
    <br />
    <h3>Weekly Report</h3>

    {% comment %} <table>
      <tr>
        <th>Date</th>
        <th>Company</th>
        <th>Client</th>
        <th>Employee</th>
        <th>Shift Start</th>
        <th>Shift End</th>
      </tr>
      {% for event in events %}
      <tr>
        <td>{{event.formatted_date}}</td>
        <td>{{event.company}}</td>
        <td>{{event.client}}</td>
        <td>{{event.employee}}</td>
        <td>{{event.start_time}}</td>
        <td>{{event.end_time}}</td>
      </tr>
      {% endfor %}
    </table> {% endcomment %}

    <table>
      <tr>
        <th>Attribute</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Hours</th>
      </tr>
      {% for week in payload %}
      <tr>
        <td>{{forloop.counter}}</td>

        {% for event in week['events'] %}

        {% if event.formatted_date.weekday() == 6%}
        <td>{{event.start_time}} - {{event.end_time}}</td>
        {% endif %}

        {% if event.formatted_date.weekday() == 0%}
        <td>{{event.start_time}} - {{event.end_time}}</td>
        {% endif %}

        {% if event.formatted_date.weekday() == 1%}
        <td>{{event.start_time}} - {{event.end_time}}</td>
        {% endif %}

        {% if event.formatted_date.weekday() == 2%}
        <td>{{event.start_time}} - {{event.end_time}}</td>
        {% endif %}

        {% if event.formatted_date.weekday() == 3%}
        <td>{{event.start_time}} - {{event.end_time}}</td>
        {% endif %}

        {% if event.formatted_date.weekday() == 4%}
        <td>{{event.start_time}} - {{event.end_time}}</td>
        {% endif %}

        {% if event.formatted_date.weekday() == 5%}
        <td>{{event.start_time}} - {{event.end_time}}</td>
        {% endif %}

        {% endfor%}

        <td>{{week.time}}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>
    <p>Total Hours: {{total_time}}</p>
  </body>
</html>
