{% load dict_utils%}
<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: arial, sans-serif;
        padding: 0.5rem;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 95%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      /**tr:nth-child(even) {
        background-color: #dddddd;
      }*/
      
      /**
      .progTitle {
        text-transform: lowercase;
      }
      
      .progTitle::first-letter {
          text-transform: uppercase;
      }*/

      .progTitle {
        text-transform: capitalize;
      }
    </style>
  </head>
  <body>
    <h4>Hello {{name}},</h4>
    <br />
    <p>Kindly find your weekly report below</p>
    <br />
    <h3>Weekly Report For {{client.name}}</h3>
    <br>
    {% for week in week_dates %}
    <h5>Week {{forloop.counter}}: {{week}}</h5>
    {% endfor %}

    <table>
      <tr>
        <th>Attribute</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Hours</th>
      </tr>
      <tr>
      {% for week in payload %}
        <td>Week {{forloop.counter}}</td>

        {% comment %} {{week|get_item:"events"}} {% endcomment %}
        {% with days=week|get_item:"events"%}
        {% comment %} <td>{{days|get_item:"sun"}}</td> {% endcomment %}
        {% comment %} <td>{{days|get_item:"mon"}}</td> {% endcomment %}
        {% comment %} <td>{{days|get_item:"tue"}}</td> {% endcomment %}
        {% comment %} <td>{{days|get_item:"wed"}}</td> {% endcomment %}
        {% comment %} <td>{{days|get_item:"thu"}}</td> {% endcomment %}
        {% comment %} <td>{{days|get_item:"fri"}}</td> {% endcomment %}
        {% comment %} <td>{{days|get_item:"sat"}}</td> {% endcomment %}

        <td>
          {% for shift in days|get_item:"sun" %}
          <a>{{shift}}</a>
          <br/>
          {% endfor %}
        </td>
        <td>
          {% for shift in days|get_item:"mon" %}
          <a>{{shift}}</a>
          <br/>
          {% endfor %}
        </td>
        <td>
          {% for shift in days|get_item:"tue" %}
          <a>{{shift}}</a>
          <br/>
          {% endfor %}
        </td>
        <td>
          {% for shift in days|get_item:"wed" %}
          <a>{{shift}}</a>
          <br/>
          {% endfor %}
        </td>
        <td>
          {% for shift in days|get_item:"thu" %}
          <a>{{shift}}</a>
          <br/>
          {% endfor %}
        </td>
        <td>
          {% for shift in days|get_item:"fri" %}
          <a>{{shift}}</a>
          <br/>
          {% endfor %}
        </td>
        <td>
          {% for shift in days|get_item:"sat" %}
          <a>{{shift}}</a>
          <br/>
          {% endfor %}
        </td>

        {% endwith %}
        
        {% comment %} {% for event in week|get_item:"events" %}

          {% if event.date_weekday == 6%}
          <td>{{event.date_weekday}} {{event.start_time}} - {{event.end_time}}</td>
          {% endif %}

          {% if event.date_weekday == 0%}
          <td>{{event.date_weekday}} {{event.start_time}} - {{event.end_time}}</td>
          {% endif %}

          {% if event.date_weekday == 1%}
          <td>{{event.date_weekday}} {{event.start_time}} - {{event.end_time}}</td>
          {% endif %}

          {% if event.date_weekday == 2%}
          <td>{{event.date_weekday}} {{event.start_time}} - {{event.end_time}}</td>
          {% endif %}

          {% if event.date_weekday == 3%}
          <td>{{event.date_weekday}} {{event.start_time}} - {{event.end_time}}</td>
          {% endif %}

          {% if event.date_weekday == 4%}
          <td>{{event.date_weekday}} {{event.start_time}} - {{event.end_time}}</td>
          {% endif %}

          {% if event.date_weekday == 5%}
          <td>{{event.date_weekday}} {{event.start_time}} - {{event.end_time}}</td>
          {% endif %}

        {% endfor%} {% endcomment %}

        <td>{{week|get_item:"time"}}</td> 
      </tr>
      <tr>
      {% endfor %}
      </tr>
    </table>
    <br/>
    <br/>
    <div>
      <h4 style="float: right;">Total Hours:  {{total_time}}</h4>
      <p class="progTitle" style="float: left;">To be submitted by:  <b>{{employee.user.last_name}} {{employee.user.first_name}}</b></p>
      <br>
    </div>
    <div>
      <br>
      <br>
      <p class="progTitle" style="float: left;">Submission Deadline:  <b>{{submission_deadline}}</b></p>
      <h4 style="float: right;">Signature: _______________</h4>
    </div>
  </body>
</html>
